.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.game{
  display:flex;
  justify-content: space-between;
}
.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #9de4c9;
}

h1 {
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 5px 0 #d1daa3;
  font-size: 8rem;
  color: #f391c2;
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

img {
  height: auto;
  width:auto;
  filter: grayscale(100%);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
